{% assign url-level-1 = url | remove_first: '/' | split: '/' | first | prepend: '/' %}

<header class="bg-gray-100 py-2 mb-4">
  <nav class="container mx-auto px-4">
    <ul>
      {% for item in navigation %}
        <li class="inline">
          <a
            href="{{ item.url }}"
            class="text-blue-800 {% if item.url == url %}underline underline-offset-1{% endif %}"
          >
            {{- item.label -}}
          </a>

          {% if item.children.size > 0 %}
            {% if item.url == url or item.url == url-level-1 %}
              <ul class="inline">
                {% for child in item.children %}
                  <li class="inline">
                    <a
                      href="{{ child.url }}"
                      class="text-blue-500 {% if child.url == url %}underline underline-offset-1{% endif %}"
                    >
                      {{- child.label -}}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
