<title>{{ title }}</title>
<meta name="description" content="{{ description }}">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{{ stylesheets_path }}/style.css">

<meta name="theme-color" content="#fafafa">
