<!doctype html>
<html>
  <head>
    {% include 'head' %}
  </head>
  <body>
    {% include 'header' %}

    <div class="container mx-auto px-4">
      <div class="prose">
        {{ content || safe }}
      </div>

      <hr class="my-4">

      <div>
        {% for car in cars %}
          <small>{{ car.make | upcase }} '{{ car.year | slice: -2, 2 }}</small>
          <div>
            <strong>{{ car.model }}</strong>
          </div>
          color: {{ car.color -}}
          <br>
          <br>
        {% endfor %}
      </div>
    </div>

    {% include 'foot' %}
  </body>
</html>
