<!doctype html>
<html>
  <head>
    {% include 'head' %}
  </head>
  <body>
    {% include 'header' %}

    <div class="container mx-auto px-4">
      <div class="prose">
        {{ content || safe }}
      </div>

      <hr class="my-4">

      <div>
        {% render 'button', label: 'Button' %}
      </div>
    </div>

    {% include 'foot' %}
  </body>
</html>
